<br>
<% content_for :title do %>
  <%= "Challfie - Manage Categories" %> 
<% end %>
<% content_for :left_content do %>
  <%= render 'home/left_content' %>
<% end %>
<div class="administration_pages">
  <h3>Manage Categories</h3>   
  <%= link_to 'Add New Category', new_category_path, class: 'btn btn-primary' %>
  <br><br>

  <table class="table table-hover">
    <thead>
      <tr>        
          <th>Name</th>        
          <th class='text-center'>Edit</th>
          <th class='text-center'>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td class='text-center'><%= link_to 'Edit', edit_category_path(category), class: 'btn'%></td>
          <td class='text-center'><%= link_to 'Delete', category_path(category), class: 'btn', method: 'delete', data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
  <center><%= will_paginate @categories %></center>
</div>  