<br>
<% content_for :title do %>
  <%= "Challfie - Manage Contact" %> 
<% end %>

<% content_for :left_content do %>
  <%= render 'home/left_content' %>
<% end %>

<div class="administration_pages">
  <h3>Manage Contact</h3>     
  <br>

  <table class="table table-hover">
    <thead>
      <tr>
          <th>Date</th>
          <th>Email</th>
          <th>Type</th>
          <th>Message</th>
          <th>Delete</th>        
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>        
          <td><%= contact.created_at.localtime %></td>
          <td><%= contact.email %></td>
          <td><%= contact.show_type %></td>
          <td><%= contact.message %></td> 
          <td class='text-center'><%= link_to 'Delete', contact_path(contact), class: 'btn', method: 'delete', data: {confirm: 'Are you sure?'} %></td>       
        </tr>
      <% end %>
    </tbody>
  </table>
    
  <center><%= will_paginate @contacts %></center>
</div>  