<div class="one_notification <% if !notification.read %>notification_unread<% end %>">
	<div class="one_notification_author">
		<%= link_to (image_tag notification.author.show_profile_picture("thumb"), class: 'img-thumbnail', style: 'padding: 0px;'), user_path(notification.author) %>
	</div>
	<div class="one_notification_message">

		<!-- display_notification_message can be find in notifications_helper.rb file -->
		<%= raw (display_notification_message(notification)) %><br>		
		<span style="font-style: italic; font-size: 11px; color:gray;"><%= time_ago_in_words(notification.created_at)%></span>	
	</div>
	<div class="one_notification_picture">
		<% if notification.selfie %>
			<%= link_to (image_tag notification.selfie.photo.url(:thumb)), selfie_path(notification.selfie), :"data-toggle"=>"modal", :"data-target"=>"#modal_selfie" %>
		<% elsif notification.book %>				
			<%= link_to (image_tag notification.book.cover.url(:medium)), user_path(notification.author, :anchor => "tab_challenges") %>
		<% end %>
	</div>
	<div style="clear: both;"></div>
	
</div>
<hr style="margin-top:5px; margin-bottom:5px;">