<!-- RIGHT SIDE : SUGGESTED FRIENDS -->

<script type="text/javascript">
	$(function () {
		$link = $('a.facebook_refresh_token');				
		$link.bind('click', function(event) {				
			popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "Facebook - Challfie Authentification");
			event.stopPropagation(); 
	  		return false;		
		});
		if (!(typeof $link[0] == 'undefined')) {
			$link[0].click();
		}
	

		// Ajax Form - Follow Suggested Friends	
		$('.friends_btn').click(function () {					
			$.ajax({
	         type: "GET",
	         url: $(this).attr("data-href"),
	         dataType: 'script'        	
	      }); 			 	
		 	return false;
		});

		// To Open a popup for Facebook Authentication to Search for friends
		$("a.popup").click(function(event) {				
			popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "Facebook - Challfie Authentification");
	  		event.stopPropagation(); 
	  		return false;		
		});	 

		// Open a popup with dimension and url content - Use to open Facebook Login popup
		function popupCenter(url, width, height, name) {			
		  var left = (screen.width/2)-(width/2);
		  var top = (screen.height/2)-(height/2);
		  return window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);
		}	
	});	
</script>

<% user = current_user %>
<% @friends_suggestion = current_user.friends_suggestions %>
<% facebook_url = user_omniauth_authorize_path("facebook") + "?type=friends_search" %>
<% daily_challenge = DailyChallenge.last.challenge if not DailyChallenge.last.blank? %>
			
<div id="right_content">

	<!-- DAILY CHALLENGE BLOCK -->
	<% if daily_challenge %>
		<div class="daily_challenge">
			<span class="block_title"><%= t 'selfie.daily_challenge_title' %></span> *
			<hr style="margin-bottom: 10px;">
			<span style="color: gray; font-size: 11px;"><%= t 'selfie.difficulty' %> :</span> <%= image_tag "/assets/" + daily_challenge.difficulty_icon, style: 'width: 70px; height: 14px; vertical-align: top;', :"data-toggle"=>"tooltip", :"data-placement"=>"bottom", :title=>"#{daily_challenge.difficulty_verbose}" %><br>
			
			<span class="daily_challenge_description"><%= daily_challenge.description %></span>
			
			<span class="daily_challenge_explanation">(*) <%= t 'selfie.daily_challenge_explanation' %></span>
		</div>
	<% end %>


	<!-- FRIENDS SUGGESTIONS BLOCK -->
	<div class="right_content_friends_suggestion">
		<% if current_user.oauth_token.blank? and (!current_user.uid.blank? or (current_user.facebook_info and !current_user.facebook_info.facebook_uid.blank?)) %>
			<%= link_to "Refresh Token", facebook_url , class: 'facebook_refresh_token hide', :"data-width" => 600, :"data-height" => 400 %>
		<% end %>
		<span class="block_title"><%= t 'right_content.friends_suggestions_title' %></span> <span style="font-size:11px; float:right"> <%= link_to "#{ t 'right_content.show_all_suggestions' }", user_friends_path(:anchor => "friends_suggestions") %></span><br>
		<hr>
		<div style="clear:both;"></div>
		<div class="friends_suggestions_block">
			<div class="one_friends_suggestions">
				
				<ul class="list-unstyled">
					<% @friends_suggestion.first(6).each do |fds_sug| %>
						<% if !fds_sug.blank? %>
							<li style='margin-top: 10px;'>
								<%= link_to (image_tag fds_sug.show_profile_picture, style: "float: left; margin-right: 10px; width: 65px; height:65px; background-image: url(/assets/#{fds_sug.current_book.book_color})", class: 'img-thumbnail'), user_path(fds_sug) %>									
								<p class="friend_username" style="margin-bottom: 5px;"><%= link_to fds_sug.username, user_path(fds_sug) %></p>
								<span class="friend_rank">
										<%= current_user.number_mutualfriends(fds_sug) %> <%= t 'friends.mutual_friends' %>								
								</span><br>
								
								<%= link_to raw("<i class='fa fa-rss'></i> #{t 'friends.follow'}") ,"javascript:void(0)", :"data-href" => follow_user_path(fds_sug), class: "btn btn-info btn-xs friends_btn friends_btn_#{fds_sug.id}" %>
								<div style="clear:both;"></div>
							</li>
						<% end %>	
					<% end %>

				</ul>
				<div style="clear:both;"></div>
				<% if current_user.oauth_token.blank? or (current_user.uid.blank? and (current_user.facebook_info and current_user.facebook_info.facebook_uid.blank?)) %>
					
					<div style="text-align:center; font-size: 12px;">
						
						<%= link_to facebook_url, :class => "popup", :"data-width" => 600, :"data-height" => 400 , :"data-toggle"=>"tooltip", :"data-placement"=>"bottom", :title=>"#{t 'right_content.search_fb_friends_tooltip'}" do %>
							<i class="fa fa-facebook-square fa-lg"></i> <%= t 'right_content.search_fb_friends' %>
						<% end %>	
					</div>
				<% end %>		
				
			</div>	
		</div>	
	</div>	
	<div id="extrapages">	
		<%= link_to "About Us", about_us_path %><span class="extrapages_separator"> - </span>
			<%= link_to "Contact", new_contact_path %>	<span class="extrapages_separator"> - </span>		
			<%= link_to "Privacy", privacy_path %><span class="extrapages_separator"> - </span>
			<%= link_to "Terms", terms_path %>
			<span class="copyright">Challfie &copy; 2014-2015</span>
	</div>
</div>

