<script type="text/javascript">
	$(function () {		
		// Ajax Form - Follow Suggested Friends	
		$('.friends_btn').click(function () {					
			$.ajax({
	         type: "GET",
	         url: $(this).attr("data-href"),
	         dataType: 'script'        	
	      }); 			 	
	      $(this).unbind('mouseenter mouseleave');
		 	return false;
		 	
		});	 

		$(".big_profile_picture").hover(
			function() {
				$('.btn_change_pic').fadeIn('slow');
		   	$(".btn_change_pic").removeClass("hide");		   	 
		   }, function() {
		   	$('.btn_change_pic').fadeOut('slow');		   	
		   }
		);

		$(".friends_btn_hover").hover(
			function() {			
				$(this).html("<i class='fa fa-minus'></i> <%= t 'friends.unfollow' %>");	
				$(this).addClass('btn-danger');	   			   	 		
		   }, function() {
		   	$(this).html("<i class='fa fa-check'></i> <%= t 'friends.following' %>");	
				$(this).removeClass('btn-danger');	   			   	 		
		   }
		);

		$(".cancel_request_btn_hover").hover(			
			function() {				
				$(this).html("<i class='fa fa-times'></i> <%= t 'friends.cancel_request' %>");
			}, function() {
	   		$(this).html("<i class='fa fa-clock-o'></i> <%= t 'friends.waiting_approval' %>");
		   }
		);

		
	});
</script>

<!-- LEFT MENU USER PHOTO AND USERNAME AND RANK -->
<% @homepage_followers = user.followers(1) %>
<% @homepage_following = user.all_following %>

<div class="left_content_block">
	<% if user_signed_in? %>
		<div class="big_profile_picture">

			<!-- User Profile Picture -->
			<%= image_tag user.show_profile_picture, class: 'img-thumbnail', id: 'user_profile_picture' %>
			
			<% if current_user != user %>
				<!-- Friendships Status button -->
				<div class="friendship_btn_profile_picture">
					<% if current_user.is_following?(user) %>
						<!-- IS YOUR FRIEND -->
						<%= link_to "javascript:void(0)", :"data-href" => unfollow_user_path(user), class: "btn btn-default btn-sm friends_btn friends_btn_#{user.id} friends_btn_hover" do %>
							<i class='fa fa-check'></i> <%= t 'friends.following' %>
						<% end %>
					<% elsif current_user.following?(user) %>											
						<!-- USER YOU ADDED - PENDING REQUEST -->
						<%= link_to raw("<i class='fa fa-clock-o'></i> #{t 'friends.waiting_approval'}") ,"javascript:void(0)", :"data-href" => unfollow_user_path(user), class: "btn btn-default btn-sm friends_btn friends_btn_#{user.id} cancel_request_btn_hover" %>
					<% else %>
						<!-- NOT YOUR FRIEND AND NOT PENDING REQUEST - YOU CAN ADD -->
						<%= link_to raw("<i class='fa fa-rss'></i> #{t 'friends.follow'}") ,"javascript:void(0)", :"data-href" => follow_user_path(user), class: "btn btn-info btn-sm friends_btn friends_btn_#{user.id}" %>					
					<% end %>
						
				</div>
			<% end %>

			<% if current_user == user %>		
				<!-- CHANGE PROFILE PICTURE -->	
				<div class="change_profile_picture">
					<button type="button" class="btn btn-block btn_change_pic hide" data-toggle="modal" data-target="#changepicmodal"><%= t 'left_content.change_profile_picture' %></button>
				</div>
			<% end %>	
			
		</div>
		<div class="profile_user_info">	
			<div class="profile_user_username"><%= link_to truncate(user.username, :length=>25), user_path(user) %></div>
			<div class="profile_user_rank_points">
				<%= image_tag user.current_book.thumb.url(:original), style: "width: 30px; height: 30px; float:left; margin-right: 5px; margin-top: 3px;" %>
				<p style="float:left; font-size: 11px; margin-top: 2px;">
					Challfie <br><%= user.current_book.name %>
				</p>
			</div>
			<hr style="margin:0; margin-bottom: 5px;">	
			<!-- <span class="pull-right"><%= link_to "Edit", edit_user_path %></span> -->		
			<div style="clear:both;"></div>																		
		</div>
	<% end %>
	<div style="clear: both;"></div>

	<div class="homepage_user_friend_selfie_book_block">

		<%= link_to_if_with_block(user == current_user, user_path(user)) do %>
			<!-- LEFT MENU SELFIES BLOCK -->
			<div class="homepage_user_selfie_block">
				<span class="number"><%= user.selfies.count %></span><br><span class="homepage_user_block_name">Selfies</span>
			</div>
		<% end %>	

		<!-- LEFT MENU FOLLOWING BLOCK -->
		
		<%= link_to_if_with_block(user == current_user, user_friends_path, class:'tab_btn') do %>	
			<div class="homepage_user_friend_block">
				<span class="number"><%= @homepage_following.count %></span><br><span class="homepage_user_block_name"><%= t 'friends.following' %></span>
			</div>
		<% end %>

		<!-- LEFT MENU FOLLOWERS BLOCK -->
		<%= link_to_if_with_block(user == current_user, user_friends_path(:anchor => "followers"), class:'tab_btn')  do %>
			<div class="homepage_user_follower_block">
				<span class="number"><%= @homepage_followers.count %></span><br><span class="homepage_user_block_name"><%= t 'friends.followers' %></span>
			</div>
		<% end %>

		<!-- LEFT MENU BOOKS BLOCK -->
		<%= link_to_if_with_block(user == current_user, user_path(user, :anchor => "tab_challenges"), class:'tab_btn') do %>
			<div class="homepage_user_book_block">
				<span class="number"><%= user.books.count %></span><br><span class="homepage_user_block_name"><%= t 'all_pages.books' %></span>
			</div>
		<% end %>	
	</div>

	<% if user == current_user %>

		<% if not user.next_book.blank? %>
		<!-- Means that he unlocked all books already -->
			<!-- LEFT MENU USER PROGRESS BAR -->					
			<div class="progress" style="clear: both; margin-top: 5px;"  data-toggle="tooltip" data-placement="bottom" title="<%= t 'left_content.progress_bar' %>">
			  <div class="progress-bar" role="progressbar" aria-valuenow="<%= current_user.next_book_progression %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.next_book_progression %>%;"></div>				  
			</div>
			<div class="progress_bar_legend">
				<span class="pull-left"><%= current_user.current_book.name %></span>
				<span class="pull-right"><%= current_user.next_book.name %></span>
			</div><br><br>
				
			<!-- LEFT MENU TAKE A SELFIE BUTTON -->
			<button type="button" class="btn btn-default btn-block take_a_selfie" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-camera"></span> &nbsp; <%= t 'homepage.take_a_selfie' %></button>	
		<% end %>	
		
	<% end %>
</div>


