<% content_for :title do %>
  <%= "Challfie - Friends" %> 
<% end %>

<script type="text/javascript">
	$(function () {
		// Ajax Form - Follow Suggested Friends	
		$('.friends_btn').click(function () {					
			$.ajax({
	         type: "GET",
	         url: $(this).attr("data-href"),
	         dataType: 'script'        	
	      }); 			 	
		 	return false;
		});	 
	});	
</script>

<div id="list_friends_block">
	<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#following" role="tab" data-toggle="tab">Following <span class="badge"><%= @following.count %></span></a></li>
	  <li><a href="#followers" role="tab" data-toggle="tab">Followers <span class="badge"><%= @followers.count %></span></a></li>
	  <li><a href="#pending_request" role="tab" data-toggle="tab">Pending Request <span class="badge"><%= @pending_request.count %></span></a></li>
	  <li><a href="#friends_suggestions" role="tab" data-toggle="tab">Friends Suggestion <span class="badge">42</span></a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane fade in active" id="following">
		  	<%= render 'following', :friends => @following, :friendship => "following" %>
	  </div>
	  <div class="tab-pane fade" id="followers">
	  		<%= render 'following', :friends => @followers, :friendship => "followers" %>
	  </div>
	  <div class="tab-pane fade" id="pending_request">
	  		<%= render 'following', :friends => @pending_request, :friendship => "pending_request" %>
	  </div>
	  <div class="tab-pane fade" id="friends_suggestions">...</div>
	</div>
</div>	