<script type="text/javascript">
	$(function() {
		// Autoload selfies when user is scrolling the page down
		if ($('#profile_page').length && $(".pagination").length) {
			$(window).scroll(function() {
				var url;
				if ($('#tab_timeline').hasClass("active")) {
					url = $("#tab_timeline a.next_page").attr("href");						
					if (url && $(window).scrollTop() > ($(document).height() - $(window).height() - 400)) {						
					  url = url + '&tab=timeline';		
					  $("#tab_timeline .pagination").text("Loading more challfies..."); 			  					  
					  $.getScript(url); 
					}
				} else {					
					url = $("#tab_photos a.next_page").attr("href");
					if (url && $(window).scrollTop() > ($(document).height() - $(window).height() - 400)) {        				
					  url = url + '&tab=photos';
					  $("#tab_photos .pagination").text("Loading more selfies...");                					  
					  $.getScript(url);     
					}
				}									
			});
			$(window).scroll();
		}

		$(".tab_photos_one_selfie").hover (
			function () {				
				$(this).find(".tab_photos_one_selfie_infos").removeClass('hide');
			}, function() {
				$(this).find(".tab_photos_one_selfie_infos").addClass('hide');
			}
		)

	});
</script>


<% content_for :left_content do %>
	<%= render 'users/left_content_profile', :user => @user %>
<% end %>

<% if current_user != @user %>
	<% if !current_user.is_following?(@user) %>
		<% if current_user.following?(@user) %>
			<div class="alert alert-info alert_friends_<%= @user.id %>" role="alert">
			  Your friend request has been sent. Waiting on approval.
			</div>
		<% else %>
			<div class="alert alert-info alert_friends_<%= @user.id %>" role="alert">
			  Click <%= link_to "here", "#", :"data-href" => follow_user_path(@user), class: "friends_btn", style: 'text-decoration: none;' %> to start following <strong><%= @user.username %></strong> and see your friend's selfie challenges.
			</div>
		<% end %>
	<% end %>
<% end %>	


<div id="profile_page">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#tab_timeline" role="tab" data-toggle="tab">Timeline</a></li>
	  <% if current_user.is_following?(@user) or current_user == @user %>
		  <li><a href="#tab_challenges" role="tab" data-toggle="tab">Challenges</a></li>
		  <li><a href="#tab_photos" role="tab" data-toggle="tab">Selfies <span class="mybadge"><%= @user.selfies.count %></span></a></li>
		  <li><a href="#tab_followers" role="tab" data-toggle="tab"><%= t 'friends.followers' %><span class="mybadge"><%= @followers.count %></span></a></li>
		<% end %>  
	</ul>

	<!-- Tab panes -->
	<div class="tab-content" style="padding:0px;">
	  <div class="tab-pane fade in active" id="tab_timeline">
	  		<div class="tab_challfie list_selfies">
				<%= render @timeline_selfie, :editable => true %>				
			</div>  	
			<center><%= will_paginate @timeline_selfie %></center>
	  </div>
	  <% if current_user.is_following?(@user) or current_user == @user %>
		  <div class="tab-pane fade" id="tab_challenges">
		  		<%= render 'books/list_books', :user => @user %>
		  </div>
		  <div class="tab-pane fade" id="tab_photos">
		  		<div class="tab_selfies">
		  			<%= render "selfies_tab", :selfies => @selfies %>
		  		</div>	
		  		<center><%= will_paginate @selfies %></center>
		  </div>
		  <div class="tab-pane fade" id="tab_followers">
		  		<%= render 'friends_tab', :friends => @followers, :friendship => "followers", :user => @user %>
		  </div>
	  <% end %>  
	</div>
	
</div>	

<%= render 'selfies/modal_selfie' %>



	

