<div class='container'>	
  <div class="extrapage_title"><%= t 'sign_up.change_password' %></div> 
	<div style="width: 800px; margin: auto;">
	   <% if flash[:notice] %>
        <br><br><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><%= flash[:notice] %></div>
     <% end %>
     <% if flash[:error] %>
        <br><br><div class="alert alert-danger" role=><a class="close" data-dismiss="alert">×</a><%= flash[:error] %></div>
     <% end %>
    <br><br>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="contact_left">
      		<%= f.label :password, 'New Password' %>
      </div> 
      <div class="contact_right form-group">
          <%= f.password_field :password, :autofocus => true, class: 'form-control', :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"Must be at least 8 characters.", placeholder: 'Enter your new password' %>       
      </div>

      <div class="contact_left">
      		<%= f.label :password_confirmation, 'Password Confirmation' %>
      </div> 
      <div class="contact_right form-group">
          <%= f.password_field :password_confirmation, :autofocus => true, class: 'form-control', placeholder: 'Password Confirmation' %>
       </div>

      <div class="contact_left"> &nbsp;</div>
      <div class="contact_right">
      	<%= f.submit "Change my password", class: "btn btn-primary pull-left" %>
        <%= link_to "Cancel", root_path, class: "btn btn-default pull-left", style: "margin-left: 10px;" %>                  
      </div>
      <div style="clear:both"></div>
    <% end %>

    <br><br>	
  </div>
</div>
  