<div class='container'>
	<h3><%= t 'sign_up.forgot_password' %></h3>	
	<div style="width: 800px; margin: auto;">
	<%= link_to root_path, style: 'font-size: 14px;' do %>
	<i class="fa fa-angle-double-left"></i> <u>Back to homepage</u>
<% end %>
<br><br>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="contact_left">
  		<%= f.label :login, "#{t 'sign_up.email_or_username'}" %>
  </div> 
  <div class="contact_right form-group">
      <%= f.text_field :login, :autofocus => true, class: 'form-control', placeholder: "#{t 'sign_up.email_or_username_placeholder'}" %>       
  </div>

  <div class="contact_left"> &nbsp;</div>
  <div class="contact_right">
  	<%= f.submit "#{t 'sign_up.send_reset_password_email'}", class: "btn btn-primary" %>
  	</div>
<% end %>

<br><br>	
<br>

</div>