<!-- LEFT MENU current_user PHOTO AND current_user NAME AND RANK -->
<% @homepage_followers = current_user.followers(1) %>
<% @homepage_following = current_user.all_following %>

<div class="left_content_block">
	<% if user_signed_in? %>
		<div class="show_speaker_thumb">
			<%= link_to (image_tag current_user.show_profile_picture, alt: "Profile Picture", title: 'Profile Picture', class: 'img-thumbnail', style: "background-image: url(/assets/#{current_user.current_book.book_color});") , user_path(current_user) %>
		</div>
		<div class="homepage_user_info">	
			<span class="homepage_user_info_username"><%= link_to truncate(current_user.username, :length => 22), user_path(current_user) %></span>
			<span class="pull-right"><%= link_to "#{t 'all_pages.edit'}", edit_user_path %></span>
			<br>
			<hr style="margin:0; margin-bottom: 5px;">
			<%= image_tag current_user.current_book.thumb.url(:original), style: "width: 25px; float:left; margin-right: 5px; margin-top: 5px;" %>
			<p style='float:left; font-size: 13px; margin-top: 13px; ' >
				<%= current_user.current_book.name %><br>
				
			</p>
			<div style="clear:both;"></div>																		
		</div>
	<% end %>
	<div style="clear: both;"></div>

	<div class="homepage_user_friend_selfie_book_block">
		<!-- LEFT MENU SELFIES BLOCK -->
		<%= link_to user_path(current_user) do %>
			<div class="homepage_user_selfie_block">
				<span class="number"><%= current_user.selfies.count %></span><br><span class="homepage_user_block_name">Selfies</span>
			</div>
		<% end %>	

		<!-- LEFT MENU FOLLOWING BLOCK -->
		<%= link_to user_friends_path, class:'tab_btn' do %>
			<div class="homepage_user_friend_block">
				<span class="number"><%= @homepage_following.count %></span><br><span class="homepage_user_block_name"><%= t 'friends.following' %></span>
			</div>
		<% end %>

		<!-- LEFT MENU FOLLOWERS BLOCK -->
		<%= link_to user_friends_path(:anchor => "followers"), class:'tab_btn'  do %>
			<div class="homepage_user_follower_block">
				<span class="number"><%= @homepage_followers.count %></span><br><span class="homepage_user_block_name"><%= t 'friends.followers' %></span>
			</div>
		<% end %>

		<!-- LEFT MENU BOOKS BLOCK -->
		<%= link_to user_path(current_user, :anchor => "tab_challenges") do %>
			<div class="homepage_user_book_block">
				<span class="number"><%= current_user.books.count %></span><br><span class="homepage_user_block_name"><%= t 'all_pages.books' %></span>
			</div>
		<% end %>	
	</div>

	
	<!-- LEFT MENU TAKE A SELFIE BUTTON -->

	<button type="button" class="btn btn-default btn-block take_a_selfie" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-camera"></span> &nbsp; <%= t 'homepage.take_a_selfie' %></button>	
</div>	

<!-- Means that he unlocked all books already -->
<% if not current_user.next_book.blank? %>
	<div class="left_content_block">	
		<span class="block_title"><%= t 'left_content.next_book_unlock' %></span><br>
		<div class="next_book_block">
			
			<%= image_tag current_user.next_book.cover.url(:medium), style: 'width: 100px; float: left; margin-top: 5px; margin-left: 20px; padding-top: 10px;' %>
			<div class="book_number_challenges">
				<%= t 'left_content.this_book_contains' %><br>
				<u><%= current_user.next_book.challenges.count %> challenges</u>
			</div>
		</div>	
		
		<!-- LEFT MENU current_user PROGRESS BAR -->		
		<span class="block_title">Progression</span>
		<div class="progress" style="clear: both; margin-top: 5px;" data-toggle="tooltip" data-placement="bottom" title="<%= t 'left_content.progress_bar' %>">

		  <div class="progress-bar" role="progressbar" aria-valuenow="<%= current_user.next_book_progression %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.next_book_progression %>%;" ></div>				  
		</div>
		<div class="progress_bar_legend">
			<span class="pull-left"><%= current_user.current_book.name %></span>
			<span class="pull-right"><%= current_user.next_book.name %></span>
		</div>
		<br>
	</div>
<% end %>