<h3>Challfie website</h3>

<%= link_to "List of Books", books_path %><br><br>

<%= link_to "List of Challenges", challenges_path %><br><br>

<%= link_to "List of Categories", categories_path %><br><br>

<%= link_to "Add a Selfie", new_selfie_path, class: 'btn btn-primary' %><br><br>

<%= link_to "Add a Book", new_book_path, class: 'btn btn-primary' %><br><br>

<%= link_to "Add a Challenge", new_challenge_path, class: 'btn btn-primary' %><br><br>

<%= link_to "Add a Category", new_category_path, class: 'btn btn-primary' %><br><br>

<% @selfies.each do |selfie| %>
  <%= selfie.message %> <br>
  <%= image_tag selfie.photo.url(:medium) %> <br>
  <hr>
<% end %>
