<script type="text/javascript">
	$(function() {
		// Autoload selfies when user is scrolling the page down
		if ($('#home_list_selfies').length && $(".pagination").length) {
			$(window).scroll(function() {
				var url;
				url = $("#home_list_selfies a.next_page").attr("href");
					
				if (url && $(window).scrollTop() > ($(document).height() - $(window).height() - 400)) {        				
				  $("#home_list_selfies .pagination").text("Loading more challfies..");        
				  $.getScript(url);     
				}
			});
			$(window).scroll();
		}

		// close the Facebook pop-up when logged in and reload main page
		if(window.opener) {		 
			logger.info "ENTER window.opener"
		   window.close()
		   window.opener.location.reload(true);
		}
	});
</script>

<% content_for :right_content do %>
	<%= render 'users/friends_suggestions' %>
<% end %>

<% content_for :left_content do %>
	<%= render 'home/left_content' %>
<% end %>

<div id="home_list_selfies">		
	<% if @selfies.count == 0 %>
		<div class="alert alert-info" role="alert">
		  <%= t 'homepage.alert_first_selfie_html' %>
		</div>
	<% end %>	
	<div class="list_selfies">		
		<%= render @selfies, :editable => true %>					
	</div>	
	<center><%= will_paginate @selfies %></center>	
</div>

