<div class="container" style="background-color: white;">
	<div class="extrapage_title">Contact Us</div>
  <div style="width: 800px; margin: auto;">
    
  	 <% if flash[:notice] %>
        <br><br><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><%= flash[:notice] %></div>
     <% end %>
     <% if flash[:error] %>
        <br><br><div class="alert alert-danger" role=><a class="close" data-dismiss="alert">×</a><%= flash[:error] %></div>
     <% end %>  
  	
  	<br><br>
  	     
     <%= form_for @contact do |f| %>      
       <div class="contact_left">
          <%= f.label :email, 'Email Address' %>
       </div>   
       <div class="contact_right form-group">
         <%= f.text_field :email, class: 'form-control', value: "#{user_signed_in? ? current_user.email : ''}" %>
       </div>
       <div style="clear: both;"></div>
       

       <div class="contact_left">
          <%= f.label :type_contact, 'Type of Message' %>
       </div>   
       <div class="contact_right form-group">
         <%= f.select :type_contact, options_for_select([["Report a bug", "1"], ["Request assistance for your account", "2"], ["Report obscene, offensive content", "3"], ["Give suggestions for the website", "4"], ["Others", "5"]], ["Report a bug", "1"]), {},  {class: 'form-control' , size: '7'}  %>
       </div>
       <div style="clear: both;"></div>
       

       <div class="contact_left">
        <%= f.label :message, 'Message' %>
       </div>        
       <div class="contact_right form-group">
         <%= f.text_area :message, class: 'form-control', rows: '5' %>
       </div>
       
       <div style="clear: both;"></div>
       

       <!--
       <div class="contact_left">
          <label>Human Verification</label>
       </div>
       <div class="contact_right">
          <%# recaptcha_tags %>
        </div>    
        <div style="clear: both;"></div> 
        --> 
        
      <div class="contact_left">  
        <label> </label>
      </div>
      <div class="contact_right">
        <button type="submit" class="btn btn-primary pull-left">Send Message</button>
        <%= link_to "Cancel", root_path, class: "btn btn-default pull-left", style: "margin-left: 10px;" %>                  
      </div>  
      <div style="clear: both;"></div> 
    <% end %>  
  </div>
  <br><br>
</div>
<br><br>