<!DOCTYPE html>
<html>
<head>
  <% @homepage_notification = current_user.notifications.where(read: false) %>  
	<title>
		Challfie <%= "(#{@homepage_notification.count + current_user.followers(0).count})" if (@homepage_notification.count + current_user.followers(0).count) > 0 %>
	</title>
   <meta name="description" content="Challfie is the new Social Network exclusively for Selfies. Easy, Simple and Competitive, it combines taking selfies with related challenge. More than 100 Selfie challenges are available to unlock. Share your selfies with your friends, get your challenges approved and compete over the title of Challfie King." />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <%= favicon_link_tag 'favicon.ico' %> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<script type="text/javascript">
		$(function () {			
			
			// Activate Tooltip
			$("body").tooltip({ selector: '[data-toggle="tooltip"]' });
         
         // Destroy the modal Object everytime he is being hidden - For Reloading objects with changes
         $('body').on('hidden.bs.modal', '.modal', function () {
			  $(this).removeData('bs.modal');
			});

         
         // Autocomplete field to search an user
			$("#autocomplete_user_field").autocomplete({

		        source: function (request, response) {
		        		
		            $.ajax({
		            	 type: "post",		
		                url: "/user/autocomplete_search_user",
		                data: {
		                    user_input: request.term		                    
		                },		                		                
		                success: function(data) {	
		                	if (data.length == 0) {		                			                		
		                		$('.search-query').popover('show');
		                	}
	                  	response(data);		                  
		                }						 
		            });
		        },
		    	minLength: 2,
		    	appendTo: "#menu",
		    	autoFocus: true
		   }).data("ui-autocomplete")._renderItem = function( ul, item ) {			   	
	        return $( "<li></li>" )
	            .data( "item.autocomplete", item )
	            .append( "<a href='/users/" + item.slug + "'>" + "<img src='" + item.imgsrc + "' style='width: 35px; height: 35px; margin-right: 5px; float:left;'/>"  + item.label + "<br><span>" + item.mutualfriends + " mutual friends</span>" +  "</a>" )
	            .appendTo( ul );
    		}; 

    		// Javascript to enable link to tab	
			var url = document.location.toString();
			if (url.match('#')) {
			    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
			} 
			// Change hash for page-reload
			$('.nav-tabs a').on('shown', function (e) {
			    window.location.hash = e.target.hash;
			})

			$('.tab_btn').click(function () {
				// Change hash for page-reload
				$('.nav-tabs a').on('shown', function (e) {
				    window.location.hash = e.target.hash;
				})
				// Javascript to enable link to tab	
				var url = $(this).attr("href");
				if (url.match('#')) {
				    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
				} 			
			});
    		
			// Ajax Form - Create a Comment to a Selfie
			$('.list_selfies').on('keydown', '.selfie_post_comment_textarea', function(e) {	
				if(e.which == 13 && !e.shiftKey) {				
					if ($.trim($(this).val())) {
					 	var form = $(this).parents('form:first');
						var mytextarea = $(this);

					   $.ajax({
				         type: "POST",
				         url: form.attr("action"),
				         data: form.serialize(),
				         dataType: 'script',	
				         success: function(response){
				         	mytextarea.val('');
				         }
				      });
				   }				   
				   return false;				
			   } 
			});

			// Edit Selfie Description
			$('.list_selfies').on('click', '.edit_selfie_message', function () {
				var selfie_id = $(this).data("id");
				$(".selfie_form_" + selfie_id).removeClass("hide");
				$('.selfie_post_message_' + selfie_id).addClass("hide");

				return false;
			});


			// Edit Selfie Privacy
			$('.list_selfies').on('click', 'a.edit_selfie_privacy', function() {				
				var selfie_id = $(this).data("id");
				
				$(".selfie_privacy_form_" + selfie_id).removeClass("hide");
				$('.selfie_privacy_icon_' + selfie_id).addClass("hide");

				return false;
			});

			// Update Selfie Privacy - Public or Private
			$('.list_selfies').on('click', '.private_radio_btn', function(event) {
				event.preventDefault();			
				var myform = $(this).closest("form");
				
				$.ajax({
		         type: "POST",
		         url: myform.attr("action"),
		         data: myform.serialize(),
		         dataType: 'script',		         
		      });

		      return false;
			});

			
			// Ajax Form - Update Selfie Description
			$('.list_selfies').on('keydown', '.edit_selfie_form', function(e) {
				if(e.which == 13 && !e.shiftKey) {
				 	var form = $(this).parents('form:first');
				 				
					$.ajax({
			         type: "PUT",
			         url: form.attr("action"),
			         data: form.serialize(),
			         dataType: 'script'		         
			      }); 			 	
				 	return false;
				}
			});

			// Display all comments on one selfie
			$('.list_selfies').on('click', '.show_all_comment_link', function(event) {
				event.preventDefault();	
				$.ajax({
		         type: "GET",
		         url: $(this).attr("data-href"),
		         dataType: 'script'        	
		      }); 			 	
			 	return false;		
			});		

			// Open a popup with dimension and url content - Use to open Facebook Login popup
			function popupCenter(url, width, height, name) {				
			  var left = (screen.width/2)-(width/2);
			  var top = (screen.height/2)-(height/2);
			  return window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);
			}	
		});		
	</script>


<!-- ##############  TOP MENU  ############## -->
	<nav id="menu" class="navbar-nav navbar-fixed-top" role="navigation">
		<div class="container" style="position: relative; min-width:1170px;">

			<%= link_to image_tag("/assets/challfie_logo.png", style: 'height: 36px; margin-top: 5px; position: absolute; left:10px;'), root_path, class:'navbar-brand' %>			
			<div class="menu_seach_bar">          
            <div class="search_field navbar-search pull-left">
              <span class="glyphicon glyphicon-search"></span>
              <%= text_field_tag :search, params[:search_user], :class => 'search-query', :id => "autocomplete_user_field", :placeholder => "#{t 'homepage.search_friends'}", :"data-toggle" => "popover", :"data-placement" => "bottom", :"data-content" => "#{t 'homepage.search_no_results'}" %>    
            </div>                      
        </div>
	      
			<ul class="menu_items">
				<!-- TOP MENU - HOME -->
				<%= link_to root_path, class: "#{current_page?(root_path) ? "active" : ""}" do %>
					<li>
						<i class="fa fa-home fa-2x fa_menu_item"></i> Home
					 </li>
				<% end %>
				
				<!-- TOP MENU - CHALLENGES -->
				<%= link_to user_path(current_user, :anchor => "tab_challenges"), class: "#{current_page?(user_path(current_user, :anchor => 'tab_challenges')) ? "active" : ""}" do %>
					<li> 
						<i class="fa fa-bolt fa-2x"></i> Challenges</span>
					</li>
				<% end %>
				
				<!-- TOP MENU - TAKE A SELFIE BUTTON -->
				<a style='border-bottom: none; width: 70px; text-align:center'><li ><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="color:white;"><i class="fa fa-camera"></i></button></li></a>

				<!-- TOP MENU - FRIENDS -->
				<% if !current_user.followers(0).blank? and current_user.followers(0).count > 0 %>
					<!-- HAVE PENDING REQUEST -->
					<%= link_to user_friends_path(:anchor => "pending_request"), class: "#{current_page?(user_friends_path) ? "active" : ""}" do %>
						<li> 
							<i class="fa fa-users fa-2x"><div class="menu_notif"><%= current_user.followers(0).count %></div></i> <%= t 'homepage.menu_friends' %>
						</li>
					<% end %>
				<% else %>
					<!-- NO PENDING REQUEST -->
					<%= link_to user_friends_path, class: "#{current_page?(user_friends_path) ? "active" : ""}" do %>
						<li> 
							<i class="fa fa-users fa-2x"></i> <%= t 'homepage.menu_friends' %> 
						</li>
					<% end %>
				<% end %>
				
				<!-- TOP MENU - NOTIFICATIONS -->				
				<%= link_to notifications_path, class: "#{current_page?(notifications_path) ? "active" : ""}" do %>
					<li> 
						<i class='fa fa-bullhorn fa-2x'> 
							<% if @homepage_notification.count != 0 %>
								<div class='menu_notif'> <%= @homepage_notification.count %></div>
							<% end %>	
						</i> Notifications
					</li>				
				<% end %>								
			</ul>

			<!-- TOP MENU - USER PROFILE + ADMINISTRATION -->						
			<% if user_signed_in? %>
				<div class="dropdown menu_items_right">					
						<a id="dropdownMenu2" data-toggle="dropdown">
							<div class="dropdown_profile_pic" style="float: right; color: #f6f8f8; font-size: 11px;"><%=h truncate(current_user.username, :length => 25) %></div>
							<div style="width: 35px; height: 35px; vertical-align: middle; float:right; margin-right: 5px; ">
								<%= image_tag current_user.show_profile_picture , alt: "Profile Picture", title: 'Profile Picture', style:"width: 35px; height: 35px;" %>								
							</div>
						</a>					

					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
						<li role="presentation"><%= link_to user_path(current_user) do %><span class='glyphicon glyphicon-user' style="width: 20px; text-align:center;"></span> <%= t 'homepage.user_menu_my_profile' %><% end %></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><%= link_to user_path(current_user, :anchor => "tab_challenges") do %><i class="fa fa-bolt" style="width: 20px; text-align:center;"></i> Challenges<% end %></li>
						<li role="presentation"><%= link_to user_friends_path do %><i class="fa fa-users"  style="width: 20px; text-align:center;"></i> <%= t 'homepage.menu_friends' %><% end %></li>
						<li role="presentation"><%= link_to notifications_path do %><i class="fa fa-bullhorn"  style="width: 20px; text-align:center;"></i> Notifications<% end %></li>
						<li role="presentation" class="divider"></li>						
						<li role="presentation"><%= link_to destroy_user_session_path, method: "delete" do %><span class='glyphicon glyphicon-off' style="width: 20px; text-align:center;"></span> <%= t 'homepage.sign_out' %><% end %></li>
						<% if current_user.administrator >= 4 %>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><%= link_to "Manage Books", controller: 'administration', action: 'books' %></li>
							<li role="presentation"><%= link_to "Manage Challenges", controller: 'administration', action: 'challenges' %></li>
					   	<li role="presentation"><%= link_to "Manage Categories", controller: 'administration', action: 'categories' %></li>
					   	<li role="presentation"><%= link_to "Manage Users", controller: 'administration', action: 'users' %></li>
					   	<li role="presentation"><%= link_to "Manage Contacts", controller: 'administration', action: 'contacts' %></li>
					   <% end %>		   				   	
					</ul>
				</div>
			<% end %>	
							
		</div>
	</nav>
		
	<div id="main_body" class="container">
		<div class="row">
<!-- ##############  LEFT CONTENT ############## -->
			<div id="left_content">
				<% if content_for?(:left_content) %>
					<%= yield :left_content %>						
				<% else %>
					<%= render 'home/empty' %>
				<% end %>								
			</div>	
			

<!-- ##############  MIDDLE CONTENT ############## -->
			<div id="main_content">
				<% if flash[:error] %>
					<div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
				<% end %>	
				<%= yield %>
			</div>	

<!-- ##############  RIGHT CONTENT ############## -->						
			<% if content_for?(:right_content) %>
				<%= yield :right_content %>						
			<% else %>
				<%= render 'home/empty' %>
			<% end %>	
		</div>
	</div>	

	
	<%= render "selfies/modal" %>
	<%= render "/users/modal_change_pic" %>

	<%= render "shared/google_analytics" %>
</body>
</html>
