<!DOCTYPE html>
<html>
<head>  
  <title>Welcome to Challfie - Selfie Social Network</title>
  <meta name="description" content="Challfie is the new Social Network exclusively for Selfies. Easy, Simple and Competitive, it combines taking selfies with related challenge. More than 100 Selfie challenges are available to unlock. Share your selfies with your friends, get your challenges approved and compete over the title of Challfie King." />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <%= favicon_link_tag 'favicon.ico' %> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body style="padding-top: 0px;">	
	<nav class="menu_signin navbar" role="navigation">
		<div class="container" style="text-align:center; margin:auto">					
				<%= link_to image_tag("/assets/challfie_letter.png", style: 'height: 40px; margin-top: 5px; text-align:center;'), root_path %>
		</div>	
      
   </nav>
	<div id="main_content_signin" >
		<div class="container" style="width: 1300px; position: relative;">						
			<%= yield %>			
		</div>		
		<div style="position: absolute; right: 5px; bottom: 5px; color: #C2C2C2;">
			© A TRUONG
		</div>	   		
	</div>

	<div id="main_content_challfie_download_app" class="container">		
		<div class="phone_section">
		    <div class="phone">
		      <%= image_tag "/assets/galaxy_s4.png", style:'width: 170px' %>
		      <%= image_tag "/assets/iphone.png", style:'width: 170px; left: 100px;' %>
		    </div>  
		    <div class="available_ios_android">   

		      <p class="welcome_page_intro"><%= t 'sign_in.downloadapp_html' %></p>
		      <%= link_to (image_tag "/assets/download_ios.png"), "https://itunes.apple.com/fr/app/challfie/id974913351?l=en&mt=8", style: 'width: 160px;', target: '_blank' %>
		      <%= link_to (image_tag "/assets/download_android.png"), "https://play.google.com/store/apps/details?id=com.challfie.android&hl=en", style:'width: 150px;', target: '_blank' %>
		    </div>
		</div> 

	</div>

	<div id="main_content_signin_steps">
		<div class="container" style="width: 1200px;">		
			<p class="step_header"><%= t 'sign_in.step_header' %></p>	
			<div style='margin-left: 50px;'>
				<div class="one_step" style="margin-right: 50px;">
					<%= image_tag "/assets/step_challenge.png" %><br>
					<p class="one_step_title">STEP 1</p>
					<p class="one_step_subtitle">Challenge</p>
					<p class="step_text"><%= t 'sign_in.step_challenge_title' %></p>
					<p class="step_description"><%= t 'sign_in.step_challenge_text_html' %></p>
				</div>
				<div class="one_step" style="margin-right: 50px;">
					<%= image_tag "/assets/step_selfie.png" %><br>
					<p class="one_step_title">STEP 2</p>
					<p class="one_step_subtitle">Selfie</p>
					<p class="step_text"><%= t 'sign_in.step_selfie_title' %></p>
					<p class="step_description"><%= t 'sign_in.step_selfies_text_html' %></p>
				</div> 
								
				<div class="one_step" style="margin-right: 50px;">
					<%= image_tag "/assets/step_approve.png" %><br>
					<p class="one_step_title">STEP 3</p>
					<p class="one_step_subtitle"><%= t 'sign_in.step_community' %></p>
					<p class="step_text"><%= t 'sign_in.step_community_title' %></p>
					<p class="step_description"><%= t 'sign_in.step_community_text_html' %></p>			
				</div>

				<div class="one_step">
					<%= image_tag "/assets/step_earn_points.png" %><br>
					<p class="one_step_title">STEP 4</p>
					<p class="one_step_subtitle"><%= t 'sign_in.step_competitive' %></p>
					<p class="step_text"><%= t 'sign_in.step_competitive_title' %></p>
					<p class="step_description"><%= t 'sign_in.step_competitive_text_html' %></p>		
				</div>
			</div>		    
		</div>
	</div>	

	<div id="footer_signin">
		<div class="container" style="width: 500px;">
			<%= link_to "#{t 'about_us.title'}", about_us_path %>			
			<%= link_to "Contact", new_contact_path %>
			<%= link_to "Privacy", privacy_path %>
			<%= link_to "Terms", terms_path %>
			<span class="copyright">Challfie &copy; 2015-2016</span>
		</div>
	</div>

	<%= render "shared/google_analytics" %>
</body>
</html>