<!DOCTYPE html>
<html>
<head>  
  <title>Challfie</title>
  <meta name="description" content="Challfie is the new Social Network exclusively for Selfies. Easy, Simple and Competitive, it combines taking selfies with related challenge. More than 100 Selfie challenges are available to unlock. Share your selfies with your friends, get your challenges approved and compete over the title of Challfie King." />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <%= favicon_link_tag 'favicon.ico' %> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body style="padding-top: 0px;">	
	<nav id="menu_signin" class="navbar" role="navigation">
		<div class="container">
			<%# image_tag "/assets/logo_left_side.png", class: 'pull-left', style:'margin-top: 5px;' %>
			<div class="margin:auto" style="display: inline-block; margin-left: 480px;">				
				<%= link_to image_tag("/assets/challfie.png", style: 'height: 36px; margin-top: 10px; text-align:center;'), root_path %>
			</div>	
			<%# image_tag "/assets/logo_right_side.png", class: 'pull-right', style:'margin-top: 5px;' %>			
		</div>	
      
   </nav>
	<div id="main_content_signin" >
		<div class="container" style="width: 1300px;">			
			<%= yield %>
		</div>
		
	</div>

	<div id="main_content_signin_steps">
		<div class="container" style="width: 1200px;">			
			<p class="step_header"><%= t 'sign_in.step_header' %></p>
			<div style='margin-left: 50px;'>
				<div class="one_step" style="margin-right: 50px;">
					<%= image_tag "/assets/book_apprentice_volume_1.png" %><br>
					<p class="one_step_title">Challenges</p>
					<p class="step_text"><%= t 'sign_in.step_challenge_text_html' %></p>
				</div>
				<div class="one_step" style="margin-right: 50px;">
					<%= image_tag "/assets/step_camera.png" %><br>
					<p class="one_step_title">Selfies</p>
					<p class="step_text"><%= t 'sign_in.step_selfies_text_html' %></p>
				</div> 
				
				
				<div class="one_step" style="margin-right: 50px;">
					<%= image_tag "/assets/step_community.png" %><br>
					<p class="one_step_title"><%= t 'sign_in.step_community' %></p>
					<p class="step_text"><%= t 'sign_in.step_community_text_html' %></p>			
				</div>

				<div class="one_step">
					<%= image_tag "/assets/step_competitive.png" %><br>
					<p class="one_step_title"><%= t 'sign_in.step_competitive' %></p>
					<p class="step_text"><%= t 'sign_in.step_competitive_text_html' %></p>		
				</div>
			</div>		    
		</div>
	</div>	

	<div id="footer_signin">
		<div class="container" style="width: 500px;">
			<%= link_to "About Us", about_us_path %>			
			<%= link_to "Contact", new_contact_path %>
			<%= link_to "Privacy", privacy_path %>
			<%= link_to "Terms", terms_path %>
			<span class="copyright">Challfie &copy; 2014-2015</span>
		</div>
	</div>

	<%= render "shared/google_analytics" %>
</body>
</html>