<!DOCTYPE html>
<html>
<head>
  <title>Challfie</title>
 
  <meta name="description" content="Challfie is the new Social Network exclusively for Selfies. Easy, Simple and Competitive, it combines taking selfies with related challenge. More than 100 Selfie challenges are available to unlock. Share your selfies with your friends, get your challenges approved and compete over the title of Challfie King." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body style="padding-top: 0px; background-color: white;">	
	<nav class="menu_signin navbar" role="navigation" style="background-color: #30768A;">
		<div class="container" style="text-align:center; margin:auto">						
			<%= link_to image_tag("/assets/challfie_letter_white.png", style: 'height: 36px; margin-top: 10px; text-align:center;'), root_path %>						
		</div>	
   </nav>
   <div class="under_menu">
   	<p class="triangle">
   	</p>
   </div>
	<div id="main_content_signin" style="background-image: none;" >
		<div class="container" style="width: 1300px;">			
			<%= yield %>
		</div>
	</div>
	<div id="footer_signin">
		<div class="container" style="width: 500px;">
			<%= link_to "About Us", about_us_path %>			
			<%= link_to "Contact", new_contact_path %>
			<%= link_to "Privacy", privacy_path %>
			<%= link_to "Terms", terms_path %>
			<span class="copyright">Challfie &copy; 2014-2015</span>
		</div>
	</div>

	<%= render "shared/google_analytics" %>
</body>
</html>