<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
   <title><%= yield :title %></title>
 <% else %>
   <title>Challfie</title>
 <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body style="background-color: #30768A; vertical-align:middle; padding: 20px; margin-top: 70px;">					
	<%= yield %>	

	<%= render "shared/google_analytics" %>
</body>
</html>